@font-face {
    font-family: suburbana;
    src: url("../fonts/Suburbana.ttf");
}

@font-face {
    font-family: anson;
    src: url("../fonts/anson-regular-webfont.ttf");
}

body {
    background-image: url("../img/stars.jpg");
    box-sizing: border-box;
    font-family: arial;
    margin-left: 10px;
    margin-right: 10px;
}

* {
    box-sizing: inherit;
}

a {
    color: #06561d;
}

a:hover {
    color: #509dd2;
}

#container {
    max-width: 1200px;
    margin: 10px auto;
}

header,
section {
    background-color: rgba(255, 255, 255, 0.94);
    margin-top: 10px;
    padding: 15px 15px;
    overflow: hidden;
}

header {
    padding: 2px;
}

footer {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: lightgray;
    text-align: center;
}

h2 {
    color: #509dd2;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: suburbana;
    letter-spacing: 5px;
    font-size: 1.4em;
}

h3 {
    color: #06561d;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: suburbana;
    letter-spacing: 5px;
    font-size: 1.2em;
}

p {
    margin: 0;
    line-height: 1.4;
}

.hidden-header {
    position: absolute;
    top: -1px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 1.1em;
}

nav li {
    display: inline;
    font-weight: bold;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

/* Banner */

#promotions {
    padding: 0;
}

.banner {
    display: block;
    width: 100%;
}

/* Content */

#hours ul {
    margin: 0;
    padding: 0;
}

#hours ul li {
    list-style: none;
    padding-top: 10px;
}

#front-squares {
    padding: 5px;
    background: none;
}

#front-squares img {
    max-width: 100%;
}

.front-square {
    position: relative;
    float: left;
}

.front-square-link {
    position: absolute;
    bottom: 10px;
    display: block;
    padding: 5px 10px;
    background: rgba(63, 63, 63, 0.75);
    color: white;
}

.fill-image {
    padding: 0;
}

.fill-image img {
    width: 100%;
}

@media (min-width: 400px) {
    .front-square {
        width: calc(50% - 6px);
        margin-left: 3px;
        margin-right: 3px;
    }
}

@media (min-width: 769px) {
    main {
        width: 70%;
        float: left;
    }

    aside {
        width: calc(30% - 10px);
        margin-left: 10px;
        float: left;
    }

    .front-square {
        max-width: calc(25% - 6px);
        margin-right: 3px;
        margin-left: 3px;
    }
}
