body {
    background-image: url("../img/stars.jpg");
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

a {
    color: #06561d;
}

a:hover {
    color: #509dd2;
}

#container {
    max-width: 1200px;
    margin: 10px auto;
}

header,
section {
    background-color: rgba(255, 255, 255, 0.94);
    margin-top: 10px;
    padding: 15px 15px;
    overflow: hidden;
}

footer {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: lightgray;
    text-align: center;
}

h2 {
    color: #509dd2;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: suburbana;
    letter-spacing: 5px;
}

h3 {
    color: #06561d;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: anson;
    font-weight: bold;
    letter-spacing: 3px;
}

p {
    margin: 0;
}

.hidden-header {
    position: absolute;
    top: -1px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Banner */

#promotions {
    padding: 0;
}

.banner {
    display: block;
    width: 100%;
}
